{% extends 'base.html' %}
{% block content %}
<h1 class="list-group-item active">
    Pets 
    <a class="btn btn-primary" href="/add">Add a Pet</a>
</h1>

<div class="row">
    {% for pet in pets %}
    {% if pet.available %}
    <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
            <img src="{{pet.photo_url}}" class="card-img-top" alt="no photo">
            <div class="card-body">
                <p class="card-text">
                    <a href="/{{ pet.id }}">{{pet.name}}</a> is <b>Available</b>! 
                </p>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>

<hr>

<div class="row">
    {% for pet in pets %}
    {% if not pet.available %}
    <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
            <img src="{{pet.photo_url}}" class="card-img-top" alt="no photo">
            <div class="card-body">
                <p class="card-text">
                    <a href="/{{ pet.id }}">{{pet.name}}</a> is no longer available.   
                </p>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}